body {
  background-image: url(bilder/IMG_1764.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-attachment: fixed;
  background-position-x: 40%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#flexContainer {
  display: flex;
  margin: auto;
  text-align: center;
}

/*Add a background color to the top navigation*/
.topnav {
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  color: black;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/*Style the links inside the navigation bar*/
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 22px;
  font-family: "Dancing Script";
  transition: text-decoration .2s linear;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

/* Add an active class to highlight the current page */
.active {
  background-color: rgb(255, 255, 255);
  /*  font-style: italic; */
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.navbar-default .navbar.less {
  background-color: none;
}

.container-fluid {
  background-color: rgba(255, 255, 255, 0.5);
  width: auto;
}

a {
  padding: 0;
}

/*Menu*/
#center #menu {
  display: unset;
  list-style-type: none;
  margin-bottom: 2em;
  letter-spacing: 2px;
}

/*Innhold i menyen*/
#center li {
  float: center;
  margin-right: 1em;
  margin-top: 1em;
  font-size: 18px;
  text-transform: uppercase;
  font-family: sans-serif, Arial;
  font-size: 13px;
  font-weight: 700;
}

/*Overskrift*/
#title {
  font-size: 60px;
  font-family: 'Great Vibes';
  text-align: center;
  letter-spacing: 4px;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  color: black;
  /*remove the link-line and color*/
}

#heading1 {
  font-size: 40px;
  text-align: center;
  font-family: 'Great Vibes';
  letter-spacing: 2px;
  padding: 5px;
  color: black;
}



/*About - white field*/
#about {
  float: right;
  width: auto;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin-right: auto;
  border-radius: 12px;
}

/*Mobile*/
@media only screen and (max-width: 650px) {
  body {
    /*     background-position-x: 40%;*/
  }
}