body{
  background-image: url(bilder/IMG_1764.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

/*Fixes image to mobile*/
  @media only screen and (max-width: 638px) {
    body {
    background-image: url(bilder/forsidebilde02_original.jpg);
    background-position-x: -17em;
   }
  }

.navbar-default .navbar.less:400 {
  background-color: none;
}

.container-fluid {
  background-color: rgba(255, 255, 255, 0.5);
  width: auto;
}

a {
  padding: 0;
}

/*Div taggen som setter meny i midten*/
#center {
  margin: auto;
  text-align: center;
}

/*Menyen*/
#center #menu {
display: unset;
list-style-type: none;
margin-bottom: 2em;
letter-spacing: 2px;
}

/*Innhold i menyen*/
#center li {
float:center;
margin-right: 1em;
margin-top: 1em ;
font-size: 18px;
text-transform: uppercase;
font-family: sans-serif, Arial;
font-size: 13px;
font-weight: 700;
}

/*Overskrift*/
#title{
  font-size: 60px;
  font-family: 'Great Vibes';
  text-align: center;
  letter-spacing: 4px;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  color: black;
  /*remove the link-line and color*/
}

#heading1 {
  font-size: 40px;
  text-align: center;
  font-family: 'Great Vibes';
  letter-spacing: 2px;
  padding: 5px;
  color: black;
}



/*About - hvitt felt*/
#about {
float: right;
width: auto;
text-align: right;
background-color: rgba(255, 255, 255, 0.5);
padding: 10px;
margin-right: auto;
border-radius: 12px;
}
